from prefect import flow
from tasks.{{ object_name }}_transform import transform_{{ object_name }}

@flow(name="{{ object_name }}_flow")
def {{ object_name }}_flow():
    raw_data = []  # TODO: fetch from {{ source }}
    df = transform_{{ object_name }}(raw_data)
    # TODO: write df to PostgreSQL

if __name__ == "__main__":
    {{ object_name }}_flow()

