from prefect import flow
from src.tasks.hello_task import hello_task
from src.utils.logger import TransmuteLogger

logger = TransmuteLogger(__name__)

@flow(name="HelloWorldFlow")
def hello_flow(name: str = "World"):
    logger.info("Starting HelloWorldFlow")
    greeting = hello_task(name)
    logger.info(f"Flow completed. Result: {greeting}")
    return greeting

if __name__ == "__main__":
    hello_flow()